version: 2
updates:
  - package-ecosystem: docker
    directory: /backend
    schedule:
      interval: daily
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: build(deps)
  - package-ecosystem: gitsubmodule
    directory: /
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: weekly
      day: friday
      time: '15:00'
      timezone: Pacific/Auckland
  - package-ecosystem: pip
    directory: /infrastructure/lambda_layers/botocore
    schedule:
      interval: weekly
