*.bak
/cdk.out/
/.coverage
/dist/
html/
/htmlcov/
/.idea/
*.isorted
/junit.xml
/geostore/.lambda_out_*/
.mutmut-cache
mutmut.xml
/.mypy_cache/
/node_modules/
*.pyc
__pycache__
/.pytest_cache
Thumbs.db
/.venv
/.vscode
