[MASTER]
disable =
    duplicate-code,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
load-plugins = pylint.extensions.mccabe
max-complexity = 6
[FORMAT]
max-line-length=100
[MISCELLANEOUS]
notes=FIXME,XXX
