[MASTER]
disable =
    bad-continuation,
    duplicate-code,
    invalid-name,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
[FORMAT]
max-line-length=100
[MISCELLANEOUS]
notes=FIXME,XXX
