name: Build
on: [push, pull_request]

jobs:
  linter:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.6", "3.7"]
    steps:
      - uses: actions/checkout@v1
      - name: Use Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Lint Last Commit
        if: github.event_name == 'push'
        run: |
          gitlint
      - name: Lint All Commits on Pull Request
        if: github.event_name == 'pull_request'
        run: |
          gitlint --commits origin/${{ github.base_ref }}..${{ github.event.pull_request.head.sha }}
      - name: Format
        run: |
          black . --check --diff
      - name: Lint
        run: |
          pylint test_ci.py
      - name: Import Sorting
        run: |
          isort -rc . --check --diff

  test:
    runs-on: ubuntu-latest
    needs: linter
    strategy:
      matrix:
        python: ["3.6", "3.7"]
    steps:
      - uses: actions/checkout@v1
      - name: Use Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Test
        run: |
          pytest
